.scramMasterTitle {
  font-family: Ruda, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.controlBlock {
  display: flex;
  flex-direction: row;
}

.gameField {
  min-width: 66%;
}

.game {
  display: flex;
  flex-direction: row;
}

.memberList {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.btnBlockTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnBlock {
  padding: 15px 65px;
}

.issuesContainer {
  width: 300px;
}

.cards {
  display: flex;
}

.memberList {
  display: flex;
}

.columnScore {
  width: 200px;
}
