.scramMasterTitle {
  font-family: Ruda, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.controlBlock {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.gameField {
  min-width: 66%;
  padding-right: 128px;
}

.game {
  display: flex;
  grid-area: main;
  flex-direction: row;
  padding-left: 38px;
}

.memberList {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

.btnBlockTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnBlock {
  display: flex;
  flex-direction: column;
  gap: 33px;
  flex-grow: 1;
}

.issuesContainer {
  width: 100%;
}

.cards {
  display: flex;
  margin-bottom: 31px;
  margin-top: 170px;
}

.memberList {
  display: flex;
}

.columnScore {
  width: 200px;
}

.mainBlock {
  display: flex;
}

.blockIssues {
  display: flex;
  gap: 67px;
}

.btnBlockBottom {
  display: flex;
  justify-content: space-between;
}

.results {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.percent {
  text-align: center;
  margin-top: 10px;
}

.scoreTable {
  display: flex;
  align-items: center;
  height: 69px;
  box-shadow: 1px 3px 8px 0px rgb(34 60 80 / 20%);
  padding: 10px;
  font-family: Roboto, sans-serif;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 16px;
}
