header {
  position: relative;
}

.blue__line {
  background-color: #2b3a67;
  height: 50px;
}

.aquamarine__line {
  background-color: #66999b;
  height: 20px;
}

.logo {
  position: absolute;
  left: 64px;
  top: 15px;
}
