.header {
  position: relative;
  grid-area: hd;
}

.blue__line {
  position: relative;
  background-color: var(--primary-color);
  height: 50px;
}

.aquamarine__line {
  background-color: var(--secondary-color);
  height: 20px;
}

.logo {
  position: absolute;
  left: 64px;
  top: 15px;
}

.chat {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
