.newIssue {
  width: 100%;

  label {
    display: flex;
    width: 100%;
  }

  input,
  select {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #2b3a67;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  }

  input {
    width: 100%;
  }

  select {
    cursor: pointer;
  }
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;

  svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
