.lobby {
  grid-area: main;
  width: 70%;
  justify-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 36px 0;
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  position: relative;

  svg {
    width: 19px;
    height: 18px;
    margin-left: 18px;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.scramMasterTitle {
  font-family: Ruda, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.link {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;

  label {
    width: 100%;
    margin-bottom: 12px;
  }
}

.gameControls {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 15px;
}
