.issue {
  display: flex;
  width: 100%;
  align-items: center;

  svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s;

    &:nth-child(2) {
      margin-left: auto;
      margin-right: 20px;
    }

    &:last-child {
      fill: red;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.title {
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}

.priority {
  font-size: 10px;
  color: rgb(116, 116, 116);
  margin-top: 5px;
}

.current {
  font-size: 10px;
}
